@import compass/css3

+font-face("Blumpa", font-files("Blumpa.ttf", "Blumpa.woff", "Blumpa.eot", "Blumpa.svg"))

.example
  font-family: "Blumpa"
  font-size: 1.5em

[class^="b-"], [class*=" b-"]
  font-family: "Blumpa"
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.b-logotype:before
  content: "\e600"

.b-logotype-alt:before
  content: "\e601"

.b-logo:before
  content: "\e602"

.b-cabinet:before
  content: "\e603"

.b-ironing:before
  content: "\e604"

.b-windows:before
  content: "\e605"

.b-pets:before
  content: "\e606"

.b-wash:before
  content: "\e608"

.b-clothes:before
  content: "\e609"

.b-oven:before
  content: "\e60a"

.b-fridge:before
  content: "\e60b"

.b-outdoor:before
  content: "\e60c"

.b-wall:before
  content: "\e60d"

.b-moving:before
  content: "\e802"

.b-movingout:before
  content: "\e800"

.b-postbuild:before
  content: "\e801"
