@font-face {
	font-family: 'Blumpa';
	src:url('fonts/Blumpa.eot?-q3iuo0');
	src:url('fonts/Blumpa.eot?#iefix-q3iuo0') format('embedded-opentype'),
		url('fonts/Blumpa.woff?-q3iuo0') format('woff'),
		url('fonts/Blumpa.ttf?-q3iuo0') format('truetype'),
		url('fonts/Blumpa.svg?-q3iuo0#Blumpa') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'Blumpa';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.b-windows:before {
	content: "\e600";
}
.b-alcohol:before {
	content: "\e601";
}
.b-buckets:before {
	content: "\e602";
}
.b-cabinet:before {
	content: "\e603";
}
.b-card:before {
	content: "\e604";
}
.b-clean-stuff:before {
	content: "\e605";
}
.b-clean:before {
	content: "\e606";
}
.b-cleaner:before {
	content: "\e607";
}
.b-clothes:before {
	content: "\e608";
}
.b-dashboard:before {
	content: "\e609";
}
.b-detergent-alt:before {
	content: "\e60a";
}
.b-detergent:before {
	content: "\e60b";
}
.b-duster:before {
	content: "\e60c";
}
.b-feedback:before {
	content: "\e60d";
}
.b-flat:before {
	content: "\e60e";
}
.b-fridge:before {
	content: "\e60f";
}
.b-gloves:before {
	content: "\e610";
}
.b-groupon:before {
	content: "\e611";
}
.b-happy:before {
	content: "\e612";
}
.b-house:before {
	content: "\e613";
}
.b-id:before {
	content: "\e614";
}
.b-ironing:before {
	content: "\e615";
}
.b-logo:before {
	content: "\e616";
}
.b-logotype-alt:before {
	content: "\e617";
}
.b-logotype:before {
	content: "\e618";
}
.b-meh:before {
	content: "\e619";
}
.b-october:before {
	content: "\e61a";
}
.b-outdoor:before {
	content: "\e61b";
}
.b-oven:before {
	content: "\e61c";
}
.b-pets:before {
	content: "\e61d";
}
.b-postbuild:before {
	content: "\e61e";
}
.b-repeat:before {
	content: "\e61f";
}
.b-sad:before {
	content: "\e620";
}
.b-spray-alt:before {
	content: "\e621";
}
.b-spray:before {
	content: "\e622";
}
.b-trustee:before {
	content: "\e623";
}
.b-vacuum:before {
	content: "\e624";
}
.b-verified:before {
	content: "\e625";
}
.b-wall:before {
	content: "\e626";
}
.b-wash:before {
	content: "\e627";
}
